.our-doctors
  background-image: image_url('background_our_doctors.jpg')

  .doctors
    .doctor
      border: 1px solid $diamond-grey-dark-shadow
      background-color: $diamond-white
      padding: 2em
      margin-bottom: 1em
      @include border-radius(0.6em)
      .main-info
        .photo
          float: left
          height: 150px
          width: 150px
          font-size: 5em
          margin-right: 0.4em
          position: relative
          border: 1px solid $diamond-grey-dark
          i.fa
            position: absolute
            top: 25%
            left: 30%
        .name
          font-size: 1.4em
          font-weight: bold
      .biography
        max-width: 80%
