.about-us
  .google-map
    %iframe{ :src => 'https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10245.35099341215!2d19.936241142902205!3d50.06123607529375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1407270488369',
             :width => '1000', :height => '600', :frameborder => '0', :style => 'border: 0; border-radius: 0.6em' }
