.wrapper.home.about-us
  = render 'layouts/messages'

  .container
    %h1 Diamond Clinic
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse commodo commodo risus quis consequat. In hac habitasse platea dictumst. Nam quis tortor vitae neque convallis gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In lacinia vulputate purus at malesuada. Sed sollicitudin aliquet nibh quis dictum. Nunc venenatis, diam eu viverra accumsan, ipsum massa egestas libero, pharetra tempor lacus nisi at dui. Maecenas adipiscing nibh eget vestibulum ullamcorper. In quis commodo massa, nec hendrerit libero. Praesent eget elit at dolor commodo tincidunt a in leo.
    %p In ultrices magna eu lectus congue semper. Aliquam rhoncus neque id congue sagittis. Vestibulum libero velit, commodo a purus ut, dapibus euismod libero. Suspendisse vestibulum, dolor a auctor tempus, leo elit pretium est, et ornare dolor felis et dui. Quisque porta, risus dignissim ullamcorper commodo, metus elit malesuada ante, at rutrum odio sem id felis. Nunc sed velit id augue auctor rhoncus. Quisque dapibus leo ac tortor posuere varius. Sed felis nulla, dapibus imperdiet ligula id, eleifend malesuada mi. Proin nec mi faucibus, rutrum felis in, dictum nunc. Sed porta consectetur ante vitae suscipit. Integer ut molestie dui, eget pretium purus. Donec ultricies enim eget dictum tincidunt. Cras placerat ac nulla vel vulputate.
