.wrapper.home.our-services
  = render 'layouts/messages'

  .container
    %h1= t('views.header.nav.our_services')

    %h3 konsultacje specjalistyczne
    #ul
      #li internistyczne
      #li kardiologiczne
      #li pulmonologiczne
      #li alergologiczne
      #li nefrologiczne
      #li neurologiczne

    %h3 badania diagnostyczne
    #ul
      #li badania laboratoryjne z krwi, moczu
      #li badania spirometryczne
      #li badanie EKG
      #li testy alergiczne

    %h3 zabiegi
    #ul
      #li iniekcje dożylne, podskórne, domięśniowe
      #li wlewy dożylne
      #li odczulanie
