form
  .input
    label
      display: block
      vertical-align: middle
    input, select, textarea, &.photo
      display: block
      width: 98%
      height: inherit
      padding: 0.5em
      background-color: $diamond-white
      color: $diamond-grey-dark
      outline: 0
      border: 1px solid $diamond-grey-dark-shadow
      @include box-sizing(content-box)
      &:focus
        border: 1px solid $diamond-blue-light
        @include box-shadow(0px 0px 4px 2px $diamond-blue-light)
      &.boolean
        width: 20px
        display: inline
    select
      @include appearance(none)
      &:hover
        cursor: pointer
    textarea
      height: 6em
