header
  z-index: 10
  width: 100%
  font-size: 1.2em
  font-weight: bold
  text-align: center

  .left, .right
    display: inline-block
  .left
    width: 50%
    float: left
    text-align: left
  .right
    width: 50%
    float: right
    text-align: right

  img
    max-width: 350px
    width: 100%

  .nav
    height: 50%
    margin: 1em auto
    background-color: $diamond-grey-light-trans
    @include box-shadow(0px 0px 4px 2px $diamond-grey-dark-shadow)
    a
      line-height: 2em
      margin: 0
      padding: 0.5em 1em
      border-right: 1px solid $diamond-grey-dark-shadow
      &:first-of-type
        border-left: 1px solid $diamond-grey-dark-shadow

  .actions
    float: right
    margin: 1em
    padding: 0.5em 1em
    font-size: 0.8em
    font-weight: normal
    background-color: $diamond-grey-light-trans
    @include box-shadow(0px 0px 4px 2px $diamond-grey-dark-shadow)
    a
      margin-right: 1em
      &:last-of-type
        margin-right: 0
